/*
 * Put your custom CSS code here
 */
@media screen and (max-width:1680px){#header{padding-top:2em}}
@media screen and (max-width:736px){#header{padding-top:2.5em}}
.post__inner {
    max-width: 900px;
    margin: 0 auto;
}

h1{
	font-size:3.25rem;
}
h1 :hover{
	color:#3282B8;
}
li :hover{
    color:#3282B8;
    border-color:#3282B8;
    background-color:white;
}
